version: '3.4'

networks:
  k6:
  grafana:

services:


  k6:
    image: loadimpact/k6:latest
    networks:
      - k6
    ports:
      - '6565:6565'
    environment:
      - K6_OUT=influxdb=http://influxdb:8086/k6
    volumes:
      - ./scripts:/scripts
